<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
<configuration>
  <containers >
    <container name="OAContainer">
      <register type="WHEDU_OA_COMMONS.IRepository,WHEDU_OA_COMMONS" mapTo="WHEDU_OA_COMMONS.RepositoryHelper,WHEDU_OA_COMMONS"></register>
    </container>
  </containers>
</configuration>
</unity>
