<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>-->
  <containers>
    <container name="OAContainer">
      <register type="WHEDU_OA_COMMONS.IRepository,WHEDU_OA_COMMONS" mapTo="WHEDU_OA_COMMONS.RepositoryHelper,WHEDU_OA_COMMONS"></register>
      <register type="WHEDU_OA_DAL.IDefineModelRepository,WHEDU_OA_DAL" mapTo="WHEDU_OA_DAL.DefineModelRepository,WHEDU_OA_DAL"/>
      <register type="WHEDU_OA_DAL.IDefineNodesRepository,WHEDU_OA_DAL" mapTo="WHEDU_OA_DAL.DefineNodesRepository,WHEDU_OA_DAL"/>
      <register type="WHEDU_OA_DAL.IOrgnazationsRepository,WHEDU_OA_DAL" mapTo="WHEDU_OA_DAL.OrgnazationsRepository,WHEDU_OA_DAL"/>
    </container>
  </containers>
</unity>
