<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>-->
  <containers>
    <container name="OAContainer">
      <register type="WHEDU_OA_COMMONS.IRepository,WHEDU_OA_COMMONS" mapTo="WHEDU_OA_COMMONS.RepositoryHelper,WHEDU_OA_COMMONS"></register>
    </container>
  </containers>
</unity>
